.top {
  width: 800px;
  margin: 20px auto;
  background-color:#dcc9f4;
  text-align: center;
}
p {
  width: 20%;
  display: inline-block;
  text-align: center;
  background-color: #ffd9df;
}
.middle {
  width: 800px;
  height: 800px;
  margin: 20px auto;
  text-align: center;
  position: relative;

  background-color: #ffd9df ;
}
.middle div {
  width: 200px;
  height: 200px;
  background-color: #87ceeb;
}
#middle01 {
  position: absolute;
  left: 100px;
  top: 100px;
}
#middle02 {
  position: absolute;
  left: 300px;
  top: 300px;
}
#middle03 {
  position: absolute;
  left:500px;
  top: 500px;
}
.bottom {
  width: 800px;
  height: 300px;
  margin: 0 auto;
  background-color: #87ceeb;
}
.bottom div {
  width: 400px;
  height: 100px;
  background-color: #e5dcf0;
}
#bottom02 {
  margin-left: 200px;
}
#bottom03 {
  margin-left: 400px;
}